<xf:form action="{{ link('users/batch-update/action') }}" class="block">
	<div class="block-container">
		<h2 class="block-header">{{ phrase('usips_ncmec_create_incident') }}</h2>
		<div class="block-body">
			<xf:checkboxrow>
				<xf:option name="actions[ncmec_incident]" required="{{ true }}">{{
					phrase('usips_ncmec_confirm_associating_x_users',
					{'total':
					$total|number}) }}</xf:option>
			</xf:checkboxrow>

			<xf:formrow label="{{ phrase('usips_ncmec_incident') }}">
				<xf:if is="$nonFinalizedIncidents is not empty">
					<xf:select name="incident_id">
						<xf:option value="">{{ phrase('usips_ncmec_create_incident') }}</xf:option>
						<xf:foreach loop="$nonFinalizedIncidents" value="$incident">
							<xf:option value="{$incident.incident_id}">{$incident.title} ({{
								date($incident.created_date) }})</xf:option>
						</xf:foreach>
					</xf:select>
					<xf:else />
					{{ phrase('usips_ncmec_new_incident_will_be_created') }}
				</xf:if>
			</xf:formrow>

			<xf:formrow label="{{ phrase('usips_ncmec_content_time_limit') }}"
						explain="{{ phrase('usips_ncmec_content_time_limit_explain') }}">
				<xf:select name="time_limit_seconds">
					<xf:option value="-1" selected="{{ $timeLimitSelection == -1 }}">{{ phrase('usips_ncmec_use_default_timespan', {'duration': $timeLimitDefaultDescription ?: phrase('all_time')}) }}</xf:option>
					<xf:option value="3600" selected="{{ $timeLimitSelection == 3600 }}">{{ phrase('1_hour') }}</xf:option>
					<xf:option value="86400" selected="{{ $timeLimitSelection == 86400 }}">{{ phrase('1_day') }}</xf:option>
					<xf:option value="172800" selected="{{ $timeLimitSelection == 172800 }}">{{ phrase('x_hours', {'count': 48}) }}</xf:option>
					<xf:option value="604800" selected="{{ $timeLimitSelection == 604800 }}">{{ phrase('1_week') }}</xf:option>
					<xf:option value="2592000" selected="{{ $timeLimitSelection == 2592000 }}">{{ phrase('1_month') }}</xf:option>
					<xf:option value="0" selected="{{ $timeLimitSelection == 0 }}">{{ phrase('all_time') }}</xf:option>
				</xf:select>
			</xf:formrow>
		</div>
		<xf:submitrow name="ncmec_incident" icon="attach" submit="{{ phrase('usips_ncmec_associate_users') }}" />
	</div>

	<xf:if is="$userIds">
		<xf:hiddenval name="user_ids">{$userIds|json}</xf:hiddenval>
		<xf:else />
		<xf:hiddenval name="criteria">{$criteria|json}</xf:hiddenval>
	</xf:if>
</xf:form>