<xf:title>{{ phrase('usips_ncmec_incidents') }}</xf:title>

<xf:pageaction>
	<xf:button href="{{ link('ncmec-incidents/create') }}" icon="add">
		{{ phrase('usips_ncmec_create_incident') }}
	</xf:button>
</xf:pageaction>

<xf:form action="{{ link('ncmec-incidents/assign-case') }}" class="" ajax="true" data-xf-init="select-plus"
	data-sp-checkbox="input[name='incident_ids[]']" data-sp-container=".dataList-row">
	<xf:macro id="usips_ncmec_macros::incident_list_block" arg-incidents="{$incidents}" arg-total="{$total}" />
</xf:form>