<xf:title>{{ phrase('usips_ncmec_report') }}</xf:title>

<div class="block">
    <div class="block-container">
        <h2 class="block-header">{{ phrase('details') }}</h2>
        <div class="block-body">
            <xf:datalist class="dataList">
                <xf:datarow rowtype="header">
                    <xf:if is="$report.ncmec_report_id">
                        <xf:cell>{{ phrase('usips_ncmec_report_id') }}</xf:cell>
                    </xf:if>
                    <xf:cell>{{ phrase('created_by') }}</xf:cell>
                    <xf:cell>{{ phrase('usips_ncmec_reported_person') }}</xf:cell>
                    <xf:cell>{{ phrase('usips_ncmec_case') }}</xf:cell>
                    <xf:cell>{{ phrase('created') }}</xf:cell>
                    <xf:cell>{{ phrase('last_updated') }}</xf:cell>
                    <xf:cell>{{ phrase('status') }}</xf:cell>
                </xf:datarow>
                <xf:datarow>
                    <xf:if is="$report.ncmec_report_id">
                        <xf:cell>{$report.ncmec_report_id}</xf:cell>
                    </xf:if>
                    <xf:cell>
                        <xf:avatar user="{$report.User}" size="xxs" />
                        <xf:username user="{$report.User}" defaultname="{$report.username}" />
                    </xf:cell>
                    <xf:cell>
                        <xf:if is="$report.SubjectUser">
                            <xf:avatar user="{$report.SubjectUser}" size="xxs" />
                            <xf:username user="{$report.SubjectUser}" defaultname="{$report.subject_username}" />
                            <xf:else />
                            {$report.subject_username}
                        </xf:if>
                    </xf:cell>
                    <xf:cell>
                        <a href="{{ link('ncmec-cases/view', $report.Case) }}">
                            {{ $report.Case.title ?: phrase('usips_ncmec_untitled_case') }}
                        </a>
                    </xf:cell>
                    <xf:cell>
                        <xf:date time="{$report.created_date}" />
                    </xf:cell>
                    <xf:cell>
                        <xf:date time="{$report.last_update_date}" />
                    </xf:cell>
                    <xf:cell>
                        <xf:if is="$report.submitted_on">
                            {{ phrase('usips_ncmec_finalized') }}
                            <xf:else />
                            {{ phrase('usips_ncmec_draft') }}
                        </xf:if>
                    </xf:cell>
                </xf:datarow>
            </xf:datalist>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <h2 class="block-header">
            {{ phrase('usips_ncmec_incidents') }}
        </h2>
        <xf:if is="$incidents.count()">
            <div class="block-body">
                <xf:datalist class="dataList">
                    <xf:datarow rowtype="header">
                        <xf:cell>{{ phrase('title') }}</xf:cell>
                        <xf:cell>{{ phrase('user') }}</xf:cell>
                        <xf:cell>{{ phrase('date') }}</xf:cell>
                        <xf:cell>{{ phrase('status') }}</xf:cell>
                    </xf:datarow>
                    <xf:foreach loop="$incidents" value="$incident">
                        <xf:datarow>
                            <xf:cell class="dataList-cell--link">
                                <a href="{{ link('ncmec-incidents/view', $incident) }}">
                                    {{ $incident.title ?: phrase('usips_ncmec_untitled_incident') }}
                                </a>
                            </xf:cell>
                            <xf:cell>
                                <xf:avatar user="{$incident.User}" size="xxs" />
                                <xf:username user="{$incident.User}" />
                            </xf:cell>
                            <xf:cell>
                                <xf:date time="{$incident.created_date}" />
                            </xf:cell>
                            <xf:cell>
                                <xf:if is="$incident.finalized_on">
                                    {{ phrase('usips_ncmec_finalized') }}
                                    <xf:else />
                                    {{ phrase('usips_ncmec_draft') }}
                                </xf:if>
                            </xf:cell>
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>
            </div>
            <div class="block-footer">
                <span class="block-footer-counter">{{ display_totals($incidents) }}</span>
            </div>
            <xf:else />
            <div class="block-body block-row">
                {{ phrase('usips_ncmec_no_incidents_in_report') }}
            </div>
        </xf:if>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <h2 class="block-header">
            {{ phrase('usips_ncmec_report_logs') }}
        </h2>
        <xf:if is="$apiLogs.count()">
            <div class="block-body">
                <xf:macro template="usips_ncmec_macros" name="api_log_list" arg-logs="{$apiLogs}" />
            </div>
            <div class="block-footer">
                <span class="block-footer-counter">{{ display_totals($apiLogs) }}</span>
            </div>
            <xf:else />
            <div class="block-body block-row">{{ phrase('no_results_found') }}</div>
        </xf:if>
    </div>
</div>