<xf:macro id="attachment_block" arg-attachments="{{ [] }}" arg-checked="{{ [] }}" arg-incident="{{ false }}">
	<xf:if is="$attachments is not empty">
		<div class="block-body">
			<xf:macro id="attachment_list" arg-attachments="{$attachments}" arg-checked="{$checked}"
				arg-incident="{$incident}" />
		</div>
		<xf:else />
		<div class="block-body block-row">{{ phrase('no_results_found') }}</div>
	</xf:if>
</xf:macro>

<xf:macro id="attachment_list" arg-attachments="{{ [] }}" arg-checked="{{ [] }}" arg-incident="{{ false }}">
	<xf:css src="usips_ncmec.less" />
	<xf:js src="USIPS/NCMEC/attachment_browser.js" />
	<div class="usips-attachments">
		<xf:foreach loop="$attachments" value="$attachment">
			<span class="usips-attachment">
				<input type="checkbox" class="usips-attachmentCheckbox"
					id="usips_attachment_{$attachment.attachment_id}" name="attachment_ids[]"
					value="{{ $attachment.attachment_id }}" {{ in_array($attachment.attachment_id, $checked) ? 'checked' : '' }} />
				<label class="usips-attachmentLabel" for="usips_attachment_{$attachment.attachment_id}">
					<div class="usips-attachmentOverlay">
						<div class="usips-attachmentInfo">
							<ul>
								<li>{$attachment.content_type}</li>
								<xf:if is="$attachment.content_id == 0">
									<li>{{ phrase('draft') }}</li>
								</xf:if>
								<li>
									<xf:date time="{{ $attachment.Data.upload_date }}" />
								</li>
								<li>{$attachment.filename}</li>
							</ul>
						</div>
					</div>
					<xf:if is="$attachment.has_thumbnail">
						<a href="{{ link('attachments/view', $attachment) }}"
							class="usips-attachmentLink usips-attachmentThumbnail{{ $attachment.in_incident ? ' is-in-incident' : '' }}"
							style="background-image: url({$attachment.thumbnail_url})" alt="{$attachment.filename}">
						</a>
						<xf:elseif is="$attachment.is_audio" />
						<a href="{{ link('attachments/view', $attachment) }}"
							class="usips-attachmentLink usips-attachmentIcon{{ $attachment.in_incident ? ' is-in-incident' : '' }}">
							<xf:fa icon="fa-volume fa-4x" />
						</a>
						<xf:elseif is="$attachment.is_video" />
						<a href="{{ link('attachments/view', $attachment) }}"
							class="usips-attachmentLink{{ $attachment.in_incident ? ' is-in-incident' : '' }}">
							<video title="{$attachment.filename}" class="usips-attachmentVideo">
								<source src="{$attachment.direct_url}" />
							</video>
						</a>
						<xf:else />
						<a href="{{ link('attachments/view', $attachment) }}"
							class="usips-attachmentLink usips-attachmentIcon{{ $attachment.in_incident ? ' is-in-incident' : '' }}">
							<xf:fa icon="fa-file fa-4x" />
						</a>
					</xf:if>
				</label>
			</span>
		</xf:foreach>
	</div>
</xf:macro>

<xf:macro id="incident_list" arg-incidents="{{ [] }}">
	<xf:datalist class="dataList">
		<xf:datarow rowtype="header">
			<xf:cell>{{ phrase('title') }}</xf:cell>
			<xf:cell>{{ phrase('user') }}</xf:cell>
			<xf:cell>{{ phrase('date') }}</xf:cell>
			<xf:cell>{{ phrase('status') }}</xf:cell>
			<xf:cell></xf:cell>
			<xf:cell></xf:cell>
		</xf:datarow>
		<xf:foreach loop="$incidents" value="$incident">
			<xf:datarow>
				<xf:cell>
					<a href="{{ link('ncmec-incidents/view', $incident) }}">
						{{ $incident.title ?: phrase('usips_ncmec_untitled_incident') }}
					</a>
				</xf:cell>
				<xf:cell>
					<xf:avatar user="$incident.User" size="xxs" />
					<xf:username user="$incident.User" />
				</xf:cell>
				<xf:cell>
					<xf:date time="$incident.created_date" />
				</xf:cell>
				<xf:cell>
					<xf:if is="$incident.is_finalized">
						{{ phrase('usips_ncmec_incident_finalized') }}
						<xf:else />
						{{ phrase('usips_ncmec_incident_draft') }}
					</xf:if>
				</xf:cell>
				<xf:action class="{{ false ? 'dataList-cell--highlighted' : '' }}"
						   href="{{ link('ncmec-incidents/log', $incident) }}">
					{{ phrase('usips_ncmec_report_logs') }}
				</xf:action>
				<xf:delete href="{{ link('ncmec-incidents/delete', $incident) }}" />
			</xf:datarow>
		</xf:foreach>
	</xf:datalist>
</xf:macro>

<xf:macro id="incident_list_block" arg-incidents="{{ [] }}" arg-header="{{ false }}" arg-nav="{{ true }}">
	<div class="block">
		<div class="block-container">
			<xf:if is="{$header}">
				<h2 class="block-header">{{ phrase('usips_ncmec_incidents') }}</h2>
			</xf:if>
			<xf:if is="$incidents is not empty">
				<div class="block-body">
					<xf:macro id="incident_list" arg-incidents="{{ $incidents }}" />
				</div>

				<xf:pagenav page="$page" perpage="$perPage" total="$total" link="ncmec-incidents" />
			<xf:else />
				<div class="block-body block-row">{{ phrase('no_results_found') }}</div>
			</xf:if>
		</div>
	</div>
</xf:macro>

<xf:macro id="report_list" arg-incidents="{{ [] }}">

</xf:macro>

<xf:macro id="report_list_block" arg-reports="{{ [] }}" arg-header="{{ false }}" arg-nav="{{ true }}">
	<div class="block">
		<div class="block-container">
				<xf:if is="{$header}">
					<h2 class="block-header">{{ phrase('usips_ncmec_reports') }}</h2>
				</xf:if>
			<xf:if is="$reports is not empty">
				<div class="block-body">
					<xf:macro id="report_list" arg-incidents="{$reports}" />
				</div>

				<xf:pagenav page="$page" perpage="$perPage" total="$total" link="ncmec-reports" />
			<xf:else />
				<div class="block-body block-row">{{ phrase('no_results_found') }}</div>
			</xf:if>
		</div>
	</div>
</xf:macro>

<xf:macro id="user_avatar_block" arg-users="{{ [] }}" arg-incident="{{ false }}">
	<xf:if is="$users is not empty">
		<div class="block-body">
			<xf:macro name="usips_ncmec_macros::user_avatar_list" arg-users="{$users}" arg-incident="{$incident}" />
		</div>
	</xf:if>
</xf:macro>

<xf:macro id="user_avatar_list" arg-users="{{ [] }}" arg-incident="{{ false }}">
	<div class="user-avatars">
		<xf:foreach loop="$users" value="$user">
			<xf:avatar user="$user.User" size="s" href="{{ $incident ? link('ncmec-incidents/user', $user) : '' }}"/>
		</xf:foreach>
	</div>
</xf:macro>