<xf:title>{{ phrase('usips_ncmec_incident') }}</xf:title>

<xf:pageaction if="true">
    <xf:if is="$incident.case_id">
        <xf:button href="{{ link('ncmec-cases/view', {'case_id': $incident.case_id}) }}" icon="list">
            {{ phrase('usips_ncmec_view_case') }}
        </xf:button>
    </xf:if>
    <xf:button href="{{ link('ncmec-incidents/delete', $incident) }}" icon="delete" overlay="true" />
</xf:pageaction>

<xf:form action="{{ link('ncmec-incidents/update', $incident) }}" ajax="true" class="block">

    <div class="block-container">
        <div class="block-body">
            <xf:textboxrow name="title" value="{$incident.title}" label="{{ phrase('title') }}" />

            <xf:formrow label="{{ phrase('usips_ncmec_incident_status') }}">
                <xf:if is="$incident.is_finalized">
                    {{ phrase('usips_ncmec_finalized') }}
                    <xf:else />
                    {{ phrase('usips_ncmec_draft') }}
                </xf:if>
            </xf:formrow>

            <xf:formrow label="{{ phrase('usips_ncmec_associated_users') }}">
                {{ $counts.users|number }}
            </xf:formrow>
            <xf:formrow label="{{ phrase('usips_ncmec_associated_content') }}">
                {{ $counts.content|number }}
            </xf:formrow>
            <xf:formrow label="{{ phrase('usips_ncmec_associated_attachment_data') }}">
                {{ $counts.attachments|number }}
            </xf:formrow>

            <xf:submitrow sticky="true" icon="save" />
        </div>
    </div>
</xf:form>

<xf:if is="$contentData">
    <div class="block">
        <div class="block-container">
            <h2 class="block-header">
                {{ phrase('usips_ncmec_associated_users') }}
                <span class="block-counter">({$incident.IncidentUsers|count})</span>
            </h2>
            <div class="block-body">
                <xf:macro name="usips_ncmec_macros::user_avatar_list" arg-users="{$incident.IncidentUsers}"
                    arg-incident="{$incident}" />
            </div>
        </div>
    </div>
</xf:if>

<xf:if is="$contentData">
    <div class="block">
        <div class="block-container">
            <h2 class="block-header">
                {{ phrase('usips_ncmec_associated_content') }}
                <span class="block-counter">({$contentData|count})</span>
            </h2>
            <div class="block-body">
                <xf:datalist class="dataList">
                    <xf:datarow rowtype="header">
                        <xf:cell>{{ phrase('title') }}</xf:cell>
                        <xf:cell>{{ phrase('user') }}</xf:cell>
                        <xf:cell></xf:cell>
                        <xf:cell></xf:cell>
                    </xf:datarow>
                    <xf:foreach loop="$contentData" value="$data">
                        <xf:datarow>
                            <xf:cell class="dataList-cell--link">
                                <xf:if is="method_exists($data.content, 'getContentUrl')">
                                    <a href="{{ $data.content.getContentUrl(true) }}" data-xf-init="preview-tooltip"
                                        data-preview-url="{{ link('ncmec-incidents/content/preview', $data.incident_content) }}">{$data.title}</a>
                                    <xf:else />
                                    {$data.title}
                                </xf:if>
                            </xf:cell>
                            <xf:cell>
                                <xf:avatar user="$data.incident_content.User" size="xxs" />
                                <xf:username user="{$data.incident_content.User}" />
                            </xf:cell>
                            <xf:action href="{{ $data.content.getContentUrl(true) }}">{{ phrase('view_content') }}
                            </xf:action>
                            <xf:delete href="{{ link('ncmec-incidents/delete', $incident) }}"
                                tooltip="{{ phrase('usips_ncmec_disassociate') }}" />
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>
            </div>
            <div class="block-footer">
                <span class="block-footer-counter">{{ phrase('showing_x_of_y_items', {
                    'count': $contentData|count,
                    'total': $counts.content
                    }) }}</span>
            </div>
        </div>
    </div>
</xf:if>