<xf:title>{{ phrase('usips_ncmec_case') }}</xf:title>

<xf:set var="$canEditCase" value="{{ $case.canEdit() }}" />

<div class="block">
    <div class="block-container">
        <h3 class="block-header">{{ phrase('usips_ncmec_case_details') }}</h3>
        <div class="block-body">
            <xf:formrow label="{{ phrase('title') }}">
                {$case.title}
            </xf:formrow>

            <xf:formrow label="{{ phrase('created_by') }}">
                <xf:if is="$case.User">
                    <xf:username user="{$case.User}" />
                    <xf:else />
                    {$case.username}
                </xf:if>
            </xf:formrow>

            <xf:formrow label="{{ phrase('usips_ncmec_created_on') }}">
                <xf:date time="{$case.created_date}" />
            </xf:formrow>

            <xf:formrow label="{{ phrase('last_updated') }}">
                <xf:date time="{$case.last_update_date}" />
            </xf:formrow>

            <xf:if is="$case.incident_type">
                <xf:formrow label="{{ phrase('usips_ncmec_incident_type') }}">
                    {$case.incident_type}
                </xf:formrow>
            </xf:if>

            <xf:if is="$case.finalized_on">
                <xf:formrow label="{{ phrase('usips_ncmec_status') }}">
                    <xf:if is="$case.finished_on">
                        <span class="label label--green">{{ phrase('usips_ncmec_case_finished') }}</span>
                        <div class="inputGroup-text">
                            {{ phrase('usips_ncmec_case_finished_desc') }}
                        </div>
                        <xf:else />
                        <span class="label label--orange">{{ phrase('usips_ncmec_case_finalized') }}</span>
                        <div class="inputGroup-text">
                            {{ phrase('usips_ncmec_case_finalized_desc') }}
                        </div>
                    </xf:if>
                </xf:formrow>
            </xf:if>

            <xf:if is="$case.additional_info">
                <xf:formrow label="{{ phrase('usips_ncmec_additional_info') }}">
                    {$case.additional_info}
                </xf:formrow>
            </xf:if>
        </div>

        <xf:formrow>
            <xf:if is="$canEditCase">
                <xf:button href="{{ link('ncmec-cases/edit', $case) }}" icon="edit">
                    {{ phrase('edit') }}
                </xf:button>
                <xf:button href="{{ link('ncmec-cases/finalize', $case) }}" icon="confirm" overlay="true">
                    {{ phrase('usips_ncmec_finalize_case') }}
                </xf:button>
                <xf:elseif is="$case.finalized_on AND !$case.finished_on" />
                <xf:button href="{{ link('ncmec-cases/submit', $case) }}" icon="export" overlay="true">
                    {{ phrase('usips_ncmec_submit_case_to_ncmec') }}
                </xf:button>
            </xf:if>
        </xf:formrow>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <h3 class="block-header">
            {{ phrase('usips_ncmec_case_statistics') }}
        </h3>
        <div class="block-body">
            <div class="structItemContainer">
                <div class="structItem structItem--middle">
                    <div class="structItem-cell">
                        <div class="pairs pairs--columns pairs--fixedSmall">
                            <dl>
                                <dt>{{ phrase('usips_ncmec_incidents') }}</dt>
                                <dd>{$incidentCount}</dd>
                            </dl>
                            <dl>
                                <dt>{{ phrase('usips_ncmec_reports') }}</dt>
                                <dd>{$reportCount}</dd>
                            </dl>
                            <dl>
                                <dt>{{ phrase('usips_ncmec_unique_users') }}</dt>
                                <dd>{$uniqueUserCount}</dd>
                            </dl>
                            <dl>
                                <dt>{{ phrase('usips_ncmec_associated_users') }}</dt>
                                <dd>{$totalUsers|number}</dd>
                            </dl>
                            <dl>
                                <dt>{{ phrase('usips_ncmec_associated_content') }}</dt>
                                <dd>{$totalContent|number}</dd>
                            </dl>
                            <dl>
                                <dt>{{ phrase('usips_ncmec_associated_attachment_data') }}</dt>
                                <dd>{$totalAttachments|number}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<xf:if is="$incidents.count()">
    <div class="block">
        <div class="block-container">
            <h3 class="block-header">
                {{ phrase('usips_ncmec_incidents') }}
            </h3>
            <div class="block-body">
                <div class="structItemContainer">
                    <xf:macro template="usips_ncmec_macros" name="incident_list" arg-incidents="{$incidents}" />
                </div>
            </div>
            <div class="block-footer">
                <span class="block-footer-counter">{{ display_totals($incidents) }}</span>
            </div>
            <xf:if is="$canEditCase">
                <xf:formrow>
                    <xf:button href="{{ link('ncmec-incidents/create', {'case_id': $case.case_id}) }}" icon="add">
                        {{ phrase('usips_ncmec_add_incident') }}
                    </xf:button>
                </xf:formrow>
            </xf:if>
        </div>
    </div>
</xf:if>

<xf:if is="$reports.count()">
    <div class="block">
        <div class="block-container">
            <h3 class="block-header">
                {{ phrase('usips_ncmec_reports') }}
            </h3>
            <div class="block-body">
                <div class="structItemContainer">
                    <xf:macro template="usips_ncmec_macros" name="report_list" arg-reports="{$reports}" />
                </div>
            </div>
            <div class="block-footer">
                <span class="block-footer-counter">{{ display_totals($reports) }}</span>
            </div>
            <xf:if is="$canEditCase">
                <xf:formrow>
                    <xf:button href="{{ link('ncmec-reports/create', {'case_id': $case.case_id}) }}" icon="add">
                        {{ phrase('usips_ncmec_create_report') }}
                    </xf:button>
                </xf:formrow>
            </xf:if>
        </div>
    </div>
</xf:if>

<xf:if is="!$incidents.count() AND !$reports.count()">
    <div class="block">
        <div class="block-container">
            <div class="block-body">
                <div class="blockMessage">{{ phrase('usips_ncmec_case_empty') }}</div>
            </div>
            <xf:if is="$canEditCase">
                <xf:formrow>
                    <xf:button href="{{ link('ncmec-incidents/create', {'case_id': $case.case_id}) }}" icon="add">
                        {{ phrase('usips_ncmec_add_incident') }}
                    </xf:button>
                </xf:formrow>
            </xf:if>
        </div>
    </div>
</xf:if>