<xf:title>{{ phrase('usips_ncmec_create_incident') }}</xf:title>

<xf:form action="{{ link('ncmec-incidents/create') }}" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:textboxrow name="title" value="{$title}" label="{{ phrase('title') }}" />
        </div>

        <xf:if is="$attachments">
            <div class="block-body">
                <xf:macro name="usips_ncmec_incident_create::attachment_user_list"
                    arg-attachmentsByUser="{$attachmentsByUser}" arg-users="{$users}"
                    arg-checked="{$attachmentsChecked}" />
            </div>
        </xf:if>

        <div class="block-body">
            <xf:checkbox name="confirm" label="{{ phrase('confirm_submission') }}" value="1" checked="{$confirm}" />
        </div>
        <xf:submitrow sticky="true">
            <xf:html>
                <xf:button type="submit" icon="save">{{ phrase('save') }}</xf:button>
            </xf:html>
        </xf:submitrow>
    </div>
</xf:form>

<xf:macro name="attachment_user_list" arg-attachmentsByUser="!" arg-users="!" arg-checked="{{ [] }}">
    <xf:datalist data-xf-init="responsive-data-list">
        <xf:foreach loop="$attachmentsByUser" value="$attachments" key="$userId">
            <xf:set var="$user" value="{$users.{$userId}}" />
            <tbody class="dataList-rowGroup">
                <xf:datarow rowtype="subsection" rowclass="dataList-row--noHover">
                    <xf:cell>
                        <span class="u-pullRight">
                            <xf:checkbox standalone="true" name="user_ids[]" value="{$userId}">
                                <xf:option check-all="< .dataList-rowGroup" label="{{ phrase('select_all') }}" />
                            </xf:checkbox>
                        </span>
                        <ul class="listInline listInline--bullet">
                            <li>
                                <xf:avatar user="$user" size="xxs" href="" /> {$user.username}
                            </li>
                            <li>
                                {{ phrase('Joined' )}}
                                <xf:date time="$user.register_date" format="date" />
                            </li>
                        </ul>
                    </xf:cell>
                </xf:datarow>
                <xf:datarow rowclass="dataList-cell--collapsible dataList-row--noHover">
                    <xf:cell class=" dataList-cell--usips-attachmentList">
                        <xf:macro name="usips_ncmec_macros::attachment_list" arg-attachments="{$attachments}"
                            arg-checked="{$checked}" />
                    </xf:cell>
                </xf:datarow>
            </tbody>
        </xf:foreach>
    </xf:datalist>
</xf:macro>