<xf:title>{{ phrase('usips_ncmec_finalize_report') }} - {{ phrase('usips_ncmec_step_1_incident_summary') }}</xf:title>

<xf:breadcrumb href="{{ link('ncmec-reports') }}">{{ phrase('usips_ncmec_reports') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('ncmec-reports/view', $report) }}">{{ phrase('usips_ncmec_report') }} #{$report.report_id}
</xf:breadcrumb>

<xf:form action="{{ link('ncmec-reports/step-1', $report) }}" ajax="true" class="block">
    <div class="block-container">
        <h2 class="block-header">{{ phrase('usips_ncmec_step_1_incident_summary') }}</h2>
        <div class="block-body">
            <xf:selectrow name="incident_summary[incident_type]" value="{$report.incident_type}"
                label="{{ phrase('usips_ncmec_incident_type') }}"
                explain="{{ phrase('usips_ncmec_incident_type_explain') }}">
                <xf:option value=""></xf:option>
                <xf:foreach loop="$incidentTypeLabels" key="$value" value="$label">
                    <xf:option value="{$value}">{$label}</xf:option>
                </xf:foreach>
            </xf:selectrow>

            <xf:formrow label="{{ phrase('usips_ncmec_platform') }}"
                explain="{{ phrase('usips_ncmec_platform_explain') }}">
                <div class="inputGroup-text">
                    {{ $xf.options.boardTitle }}
                </div>
            </xf:formrow>

            <xf:checkboxrow name="incident_summary[report_annotations][]"
                label="{{ phrase('usips_ncmec_report_annotations') }}"
                explain="{{ phrase('usips_ncmec_report_annotations_explain') }}" listclass="listColumns">
                <xf:foreach loop="$annotationLabels" key="$value" value="$label">
                    <xf:option name="incident_summary[report_annotations][]" value="{$value}"
                        checked="{$report.isInReportAnnotations($value)}" label="{$label}" />
                </xf:foreach>
            </xf:checkboxrow>

            <xf:formrow label="{{ phrase('usips_ncmec_incident_date_time') }}"
                explain="{{ phrase('usips_ncmec_incident_date_time_explain') }}">
                <div class="inputGroup-text">
                    <xf:date time="{$earliestDateTime}" />
                </div>
            </xf:formrow>

            <xf:textarearow name="incident_summary[incident_date_time_desc]" value="{$report.incident_date_time_desc}"
                label="{{ phrase('usips_ncmec_incident_date_time_desc') }}"
                explain="{{ phrase('usips_ncmec_incident_date_time_desc_explain') }}" maxlength="3000" rows="4" />
        </div>
        <xf:submitrow submit="{{ phrase('continue') }}" icon="save" />
    </div>
</xf:form>