<xf:title>{{ phrase('attachment_browser') }}</xf:title>

<xf:form action="{{ link('ncmec-incidents/create') }}" class="block">
	<div class="block-container">
		<xf:macro name="filter_macros::filter_bar" arg-route="attachments" arg-content="{{ null }}"
			arg-params="{$linkParams}" arg-displayValues="{$filterDisplay}" arg-phrases="{{ {
				'key:content_type':  phrase('content_type:'),
				'key:username': phrase('user_name:'),
				'key:start': phrase('start_date:'),
				'key:end': phrase('end_date:'),
				'key:order': phrase('sort_by:'),
				'val:file_size_desc': phrase('largest'),
				'val:file_size_asc': phrase('smallest'),
				'val:attach_date_desc': phrase('most_recent'),
				'val:attach_date_asc': phrase('least_recent')
			} }}" arg-menu="attachments/filter" arg-menuTitle="{{ phrase('filter') }}" />
		<xf:macro name="usips_ncmec_macros::attachment_block" arg-attachments="{{ $attachments }}" />
		<xf:submitrow sticky="true">
			<xf:html>
				<xf:button type="submit" name="submit" icon="siren">{{ phrase('usips_ncmec_create_incident') }}
				</xf:button>
			</xf:html>
		</xf:submitrow>
	</div>
</xf:form>