<xf:title>{{ phrase('usips_ncmec_cases') }}</xf:title>

<xf:pageaction>
    <xf:button href="{{ link('ncmec-cases/create') }}" icon="add">
        {{ phrase('usips_ncmec_create_case') }}
    </xf:button>
</xf:pageaction>

<xf:form action="{{ link('ncmec-cases/create') }}" class="block">
    <div class="block-outer">
        <xf:macro template="filter_macros" name="quick_filter" arg-key="cases" arg-class="block-outer-opposite" />
    </div>
    <div class="block-container">
        <h2 class="block-tabHeader tabs hScroller" data-xf-init="h-scroller">
            <span class="hScroller-scroll">
                <xf:foreach loop="$tabs" key="$tabState" value="$tabLabel">
                    <a href="{{ link('ncmec-cases', null, {'state': $tabState}) }}"
                        class="tabs-tab {{ $tabState == $state ? 'is-active' : '' }}">{$tabLabel}</a>
                </xf:foreach>
            </span>
        </h2>
        <div class="block-body">
            <xf:if is="$cases is not empty">
                <xf:macro template="usips_ncmec_macros" name="case_list" arg-cases="{$cases}" />
                <xf:else />
                <div class="block-row">{{ phrase('no_results_found') }}</div>
            </xf:if>
        </div>
    </div>
    <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="ncmec-cases"
        wrapperclass="block-outer block-outer--after" />
</xf:form>