<xf:title>{{ phrase('usips_ncmec_assign_case') }}</xf:title>

<xf:form action="{{ link('ncmec-incidents/assign-case') }}" ajax="true" class="block">
    <xf:foreach loop="$incidentIds" value="$incidentId">
        <xf:hiddenval name="incident_ids[]" value="{$incidentId}" />
    </xf:foreach>

    <div class="block-container">
        <div class="block-body">
            <xf:formrow rowtype="confirm">
                {{ phrase('usips_ncmec_assign_case_description', {'count': $incidentCount}) }}
            </xf:formrow>

            <xf:selectrow name="case_id" value="0" label="{{ phrase('usips_ncmec_case') }}">
                <xf:option value="0">{{ phrase('usips_ncmec_create_new_case_option') }}</xf:option>
                <xf:foreach loop="$availableCases" value="$case">
                    <xf:option value="{$case.case_id}">{{ $case.title ?: phrase('usips_ncmec_untitled_case') }}
                    </xf:option>
                </xf:foreach>
            </xf:selectrow>

            <xf:textboxrow name="new_case_title" value="{$defaultTitle}" label="{{ phrase('title') }}"
                hint="{{ phrase('usips_ncmec_new_case_title_hint') }}" />
        </div>

        <xf:submitrow icon="merge" submit="{{ phrase('usips_ncmec_assign_case') }}" />
    </div>
</xf:form>