<xf:title>{{ phrase('usips_ncmec_dashboard') }}</xf:title>

<xf:pageaction>
	<xf:button href="{{ link('ncmec/config') }}" icon="config" overlay="true">{{ phrase('usips_ncmec_configure_api') }}
	</xf:button>
</xf:pageaction>

<xf:if is="!$apiConfigured">
	<div class="blockMessage blockMessage--important blockMessage--iconic">
		{{ phrase('usips_ncmec_api_not_configured') }}
	</div>
<xf:elseif is="$connectionError" />
	<div class="blockMessage blockMessage--error blockMessage--iconic">
		{$connectionError}
	</div>
</xf:if>

<div class="block">
	<div class="block-container">
		<h2 class="block-header">{{ phrase('usips_ncmec_api_status') }}</h2>
		<div class="block-body">
			<xf:formrow label="{{ phrase('usips_ncmec_api_configured') }}">
				{{ $apiConfigured ? phrase('yes') : phrase('no') }}
			</xf:formrow>

			<xf:if is="$apiConfigured">
				<xf:formrow label="{{ phrase('usips_ncmec_environment') }}">
					{{ $environment === 'live' ? phrase('usips_ncmec_env_live') : phrase('usips_ncmec_env_test') }}
				</xf:formrow>
			</xf:if>
		</div>
	</div>
</div>

<div class="block">
	<div class="block-container">
		<h2 class="block-header">{{ phrase('usips_ncmec_quick_actions') }}</h2>
		<div class="block-body">
			<xf:formrow label="{{ phrase('enable_registration') }}" rowtype="button">
				{{ $xf.options.registrationSetup.enabled ? phrase('yes') : phrase('no') }}
				<xf:button href="{{ link('ncmec/registration/toggle') }}" class="button--link" data-xf-click="switch"
					data-sk-enable="{{ phrase('enable') }}" data-sk-disable="{{ phrase('disable') }}">
					{{ $xf.options.registrationSetup.enabled ? phrase('disable') : phrase('enable') }}
				</xf:button>
			</xf:formrow>

			<xf:if is="is_addon_active('Siropu/ReferralContests')">
				<xf:formrow label="{{ phrase('option.siropuReferralContestsInvitationOnly') }}" rowtype="button">
					{{ $xf.options.siropuReferralContestsInvitationOnly ? phrase('yes') : phrase('no') }}
					<xf:button href="{{ link('ncmec/invite-only/toggle') }}" class="button--link" data-xf-click="switch"
						data-sk-enable="{{ phrase('enable') }}" data-sk-disable="{{ phrase('disable') }}">
						{{ $xf.options.siropuReferralContestsInvitationOnly ? phrase('disable') : phrase('enable') }}
					</xf:button>
				</xf:formrow>
			</xf:if>
		</div>
	</div>
</div>

<xf:macro id="usips_ncmec_macros::incident_list_block" arg-incidents="{$incidents}" arg-nav="{{ false }}" arg-header="{{ true }}" />

<xf:macro id="usips_ncmec_macros::report_list_block" arg-incidents="{$reports}" arg-nav="{{ false }}" arg-header="{{ true }}" />