<xf:title>{{ phrase('usips_ncmec_configure_api') }}</xf:title>

<xf:form action="{{ link('ncmec/config') }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="!empty($xf.option.option_value.username)">
                <xf:formrow label="{{ phrase('option.usipsNcmecApi') }}"
                    explain="{{ phrase('option_explain.usipsNcmecApi') }}" rowclass="{$rowClass}">

                    <dl class="pairs pairs--columns pairs--fixedSmall">
                        <dt>{{ phrase('usips_ncmec_environment') }}</dt>
                        <dd>
                            {{ $option.option_value.environment === 'production' ? phrase('usips_ncmec_env_live') :
                            phrase('usips_ncmec_env_test') }}
                        </dd>
                    </dl>

                    <dl class="pairs pairs--columns pairs--fixedSmall">
                        <dt>{{ phrase('user_name') }}</dt>
                        <dd>{$option.option_value.username}</dd>
                    </dl>

                    <dl class="pairs pairs--columns pairs--fixedSmall">
                        <dt>{{ phrase('password') }}</dt>
                        <dd>********</dd>
                    </dl>
                </xf:formrow>
            </xf:if>

            <xf:radiorow label="{{ phrase('usips_ncmec_environment') }}" rowtype="radio">
                <xf:option name="environment" value="test" checked="true">
                    {{ phrase('usips_ncmec_env_test') }}
                </xf:option>
                <xf:option name="environment" value="production">
                    {{ phrase('usips_ncmec_env_live') }}
                </xf:option>
            </xf:radiorow>

            <xf:formrow label="{{ phrase('usips_ncmec_esp_credentials') }}" rowtype="input"
                explain="{{ phrase('usips_ncmec_esp_credentials_explain') }}">
                <div class="inputGroup">
                    <xf:textbox name="username" placeholder="{{ phrase('user_name') }}" size="20" autocomplete="off" />
                    <span class="inputGroup-splitter"></span>
                    <xf:textbox type="password" name="password" placeholder="{{ phrase('password') }}" size="20"
                        autocomplete="new-password" />
                </div>
            </xf:formrow>
        </div>
        <xf:submitrow submit="{{ phrase('usips_ncmec_test_connection') }}" />
    </div>
</xf:form>