<xf:title>{{ $person.isInsert() ? phrase('usips_ncmec_add_person') : phrase('usips_ncmec_edit_person') }}</xf:title>

<xf:form action="{{ $person.isInsert() ? link('ncmec-people/create') : link('ncmec-people/update', $person) }}"
    ajax="true" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:textboxrow name="first_name" value="{$person.first_name}" label="{{ phrase('usips_ncmec_first_name') }}"
                maxlength="100" />
            <xf:textboxrow name="last_name" value="{$person.last_name}" label="{{ phrase('usips_ncmec_last_name') }}"
                maxlength="100" />

            <xf:radiorow name="age_selector" value="{$ageSelectorValue}" label="{{ phrase('age') }}" required="false"
                explain="{{ phrase('usips_ncmec_age_selector_explain') }}">
                <xf:option value="none" label="{{ phrase('unknown') }}" />
                <xf:option value="date_of_birth" label="{{ phrase('date_of_birth') }}">
                    <xf:dependent>
                        <div class="inputGroup">
                            <xf:textbox name="date_of_birth" value="{$person.date_of_birth}" type="date" />
                        </div>
                    </xf:dependent>
                </xf:option>
                <xf:option value="age" label="{{ phrase('age') }}">
                    <xf:dependent>
                        <div class="inputGroup">
                            <xf:numberbox name="age" value="{{ $person.age !== null ? $person.age : '' }}" min="0"
                                step="1" />
                        </div>
                    </xf:dependent>
                </xf:option>
            </xf:radiorow>
        </div>

        <xf:submitrow icon="save" sticky="true" />
    </div>
</xf:form>