<xf:title>{{ phrase('usips_ncmec_incidents') }}</xf:title>

<xf:pageaction>
    <xf:button href="{{ link('ncmec-incidents/create') }}" icon="add">
        {{ phrase('usips_ncmec_create_incident') }}
    </xf:button>
</xf:pageaction>


<div class="block">
    <xf:if is="$incidents is not empty">
        <div class="block-container">
            <div class="block-body">
                <xf:datalist class="dataList">
                    <xf:datarow rowtype="header">
                        <xf:cell>{{ phrase('title') }}</xf:cell>
                        <xf:cell>{{ phrase('user') }}</xf:cell>
                        <xf:cell>{{ phrase('date') }}</xf:cell>
                        <xf:cell>{{ phrase('status') }}</xf:cell>
                    </xf:datarow>
                    <xf:foreach loop="$incidents" value="$incident">
                        <xf:datarow>
                            <xf:cell>
                                <a href="{{ link('ncmec-incidents/view', $incident) }}">
                                    {{ $incident.title ?: phrase('usips_ncmec_untitled_incident') }}
                                </a>
                            </xf:cell>
                            <xf:cell>
                                <xf:username user="$incident.User" />
                            </xf:cell>
                            <xf:cell>
                                <xf:date time="$incident.created_date" />
                            </xf:cell>
                            <xf:cell>
                                <xf:if is="$incident.is_finalized">
                                    {{ phrase('finalized') }}
                                    <xf:else />
                                    {{ phrase('draft') }}
                                </xf:if>
                            </xf:cell>
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>
            </div>
        </div>

        <xf:pagenav page="$page" perpage="$perPage" total="$total" link="ncmec-incidents" />
        <xf:else />
        <div class="blockMessage">{{ phrase('usips_ncmec_no_incidents') }}</div>
    </xf:if>
</div>