<xf:title>{{ phrase('usips_ncmec_incident_user') }}</xf:title>

<xf:breadcrumb href="{{ link('ncmec-incidents/view', $incident) }}">{$incident.title}</xf:breadcrumb>

<xf:pageaction if="true">
	<xf:button href="{{ link('users/edit', $user) }}" class="link">{{ phrase('edit_user') }}
	</xf:button>
	<xf:button href="{{ link_type('public', 'members', $user) }}" class="link">{{ phrase('view_public_profile') }}
	</xf:button>
	<xf:if is="!$incident.finalized_on">
		<xf:button href="{{ link('ncmec-incidents/user/delete', $incidentUser) }}" icon="delete" overlay="true" />
	</xf:if>
</xf:pageaction>

<xf:if is="!$incident.finalized_on">
	<xf:form action="{{ link('ncmec-incidents/user/associate-timestamp', $incidentUser) }}" ajax="true" class="block">
		<div class="block-container">
			<xf:formrow label="{{ phrase('usips_ncmec_content_time_limit') }}"
				explain="{{ phrase('usips_ncmec_content_time_limit_explain') }}">
				<xf:select name="time_limit_seconds">
					<xf:option value="-1" selected="{{ $timeLimitSelection == -1 }}">{{
						phrase('usips_ncmec_use_default_timespan', {'duration': $timeLimitDefaultDescription ?:
						phrase('all_time')}) }}</xf:option>
					<xf:option value="3600" selected="{{ $timeLimitSelection == 3600 }}">{{ phrase('1_hour') }}
					</xf:option>
					<xf:option value="86400" selected="{{ $timeLimitSelection == 86400 }}">{{ phrase('1_day') }}
					</xf:option>
					<xf:option value="172800" selected="{{ $timeLimitSelection == 172800 }}">{{ phrase('x_hours',
						{'count':
						48}) }}</xf:option>
					<xf:option value="604800" selected="{{ $timeLimitSelection == 604800 }}">{{ phrase('1_week') }}
					</xf:option>
					<xf:option value="2592000" selected="{{ $timeLimitSelection == 2592000 }}">{{ phrase('1_month') }}
					</xf:option>
					<xf:option value="0" selected="{{ $timeLimitSelection == 0 }}">{{ phrase('all_time') }}</xf:option>
				</xf:select>
			</xf:formrow>
			<xf:submitrow>
				<xf:html>
					<xf:button type="submit" name="submit" icon="attach">{{ phrase('usips_ncmec_associate') }}
					</xf:button>
				</xf:html>
			</xf:submitrow>
		</div>
	</xf:form>

	<xf:form action="{{ link('ncmec-incidents/user/update-attachments', $incidentUser) }}" ajax="true" class="block">
		<div class="block-container">
			<h2 class="block-header">{{ phrase('usips_ncmec_attachments') }}</h2>
			<xf:if is="$availableAttachments is not empty">
				<div class="block-body">
					<xf:macro name="usips_ncmec_macros::attachment_block" arg-incident="{$incident}"
						arg-attachments="{$availableAttachments}" arg-checked="{$associatedAttachmentIds}" />
				</div>
				<xf:else />
				<div class="block-body block-row">{{ phrase('no_results_found') }}</div>
			</xf:if>
			<xf:submitrow sticky="true">
				<xf:html>
					<xf:button type="submit" name="submit" icon="save">{{ phrase('save') }}
					</xf:button>
				</xf:html>
			</xf:submitrow>
		</div>
	</xf:form>
</xf:if>