<xf:title>{{ $person.display_name }}</xf:title>

<xf:pageaction>
    <xf:button href="{{ link('ncmec-persons/create') }}" icon="add">New Person</xf:button>
</xf:pageaction>

<xf:form action="{{ link('ncmec-persons/update', $person) }}" ajax="true" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:textboxrow name="first_name" value="{$person.first_name}" label="First name" maxlength="100" />
            <xf:textboxrow name="last_name" value="{$person.last_name}" label="Last name" maxlength="100" />
            <xf:textboxrow name="type" value="{$person.type}" label="Type" maxlength="25" />
            <xf:textboxrow name="date_of_birth" value="{$person.date_of_birth}" label="Date of birth" type="date" />
            <xf:numberboxrow name="age" value="{{ $person.age !== null ? $person.age : '' }}" label="Age" min="0"
                step="1" />

            <xf:formrow label="Created">
                <xf:date time="{$person.created_date}" />
            </xf:formrow>
            <xf:formrow label="Last updated">
                <xf:date time="{$person.last_update_date}" />
            </xf:formrow>
        </div>

        <xf:submitrow icon="save" sticky="true" />
    </div>
</xf:form>